software/EqualizationParser/build-equalizationParser-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/debug/equalizationParser.exe
*.o
software/EqualizationParser/build-equalizationParser-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/equalization
software/EqualizationParser/build-equalizationParser-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/output.txt
software/EqualizationParser/build-equalizationParser-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/Makefile.Debug
software/EqualizationParser/build-equalizationParser-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/Makefile.Release
software/EqualizationParser/build-equalizationParser-Desktop_Qt_5_4_0_MinGW_32bit-Ladění/Makefile
software/matlabMedipix/images/*.mat
software/DataDecoder/images/*.mat
